footer{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: rgb(9, 9, 9) ;
    text-align: center;
}
header{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: rgb(251, 3, 3) ;
    text-align: center;
}